<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyskontti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Kysymykset</h2>
        
        <th:block th:each="kurssi: ${kurssit}">
            <h3>
                Kurssi: <span th:text="${kurssi.nimi}">Tässä pitäisi olla kurssi</span>
            </h3> 
            <h4 th:each="aihe: ${aiheet}" th:if="${aihe.kurssiId} == ${kurssi.id}">
                Aihe: <span th:text="${aihe.nimi}">Tässä pitäisi olla aihe</span>
            </h4>
            <ul>
                <li th:each="kysymys: ${kysymykset}" th:if="${kysymys.aiheId} == ${aihe.id}">
                    <a th:href="@{~/kysymykset/{id}(id=${kysymys.id})}">
                        <span th:text="${kysymys.teksti}">Tässä pitäisi olla kysymys</span>
                    </a>
                    <form><input type="submit" value="Poista"/></form>
                </li>
            </ul>
        </th:block>
        

        <h2>Luo uusi kysymys</h2>
        <form>
          <table>
            <tr>
              <td>
                Kurssi:
              </td>
              <td>
                  <input type="text" name="kurssi"/>
              </td>
            </tr>
            <tr>
              <td>
                Aihe:
              </td>
              <td>
                  <input type="text" name="aihe"/>
              </td>
            </tr>
            <tr>
              <td>
                Kysymysteksti:
              </td>
              <td>
                  <input type="text" name="kysymysteksti"/>
              </td>
            </tr>
          </table>

          <input type="submit" value="Luo"/>
        </form>
        
    </body>
</html>