<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymyskontti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Kysymykset</h2>
        
        <th:block th:each="kurssi: ${kurssit}">
            <h3>
                Kurssi: <span th:text="${kurssi.nimi}">Tässä pitäisi olla kurssi</span>
            </h3> 
            <h4 th:each="aihe: ${aiheet}" th:if="${aihe.kurssiId} == ${kurssi.id}">
                Aihe: <span th:text="${aihe.nimi}">Tässä pitäisi olla aihe</span>
            </h4>
            
        </th:block>
        

        <p>Ja .. <span th:text="${viesti}">jotain?</span></p>

        <p><a href="/opiskelijat">Tästä opiskelijalistaukseen.</a></p>
    </body>
</html>