<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title th:text="${kysymys.teksti}">Kysymys</title>
        <link href="../public/css/style.css" th:href="@{~/css/style.css}" media="all" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8"/>
    </head>
    <body>
        
        <h2 th:text="${kysymys.teksti}">Kysymys</h2>
        
        <table>
          <tr>
            <td>
                Kurssi: <span th:text="${kurssi}">Tässä pitäisi olla kurssin nimi</span>
            </td>
          </tr>
          <tr>
            <td>
                Aihepiiri: <span th:text="${aihe}">Tässä pitäisi olla aiheen nimi</span>
            </td>
          </tr>
        </table>
        
        <ul>
            <li th:each="vastausvaihtoehto: ${vastausvaihtoehdot}">
                <span th:text="${vastausvaihtoehto.teksti}">Tässä pitäisi olla vastausvaihtoehto.</span> 
                <strong th:text="${vastausvaihtoehto.oikein} ? 'Oikein' : 'Väärin'">Vasein</strong>
                <form method="POST" th:action="@{~/kysymykset/{kid}/vastaukset/{vid}/delete
                      (kid=${kysymys.id},vid=${vastausvaihtoehto.id})}">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ul>
        
        <h2>Luo uusi vastausvaihtoehto</h2>

        <form method="POST" th:action="@{~/kysymykset/{id}/vastaukset(id=${kysymys.id})}">
          <table>
            <tr>
              <td>
                Vastausteksti:
              </td>
              <td>
                  <input type="text" name="teksti" th:required="required"/>
              </td>
            </tr>
            <tr>
              <td>
                Oikein:
              </td>
              <td>
                  <input type="checkbox" name="oikein" value="true"/>
              </td>
            </tr>
          </table>

          <input type="submit" value="Luo"/>
        </form>

        <ul>
          <li>
            <a href="../../">Kysymysten listaukseen</a>
          </li>
        </ul>
    </body>
    
</html>
